[Unit]
Description=Nixie-clock
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/home/kelloraspi/nixie-clock/clock

[Install]
WantedBy=multi-user.target

